{
    ViewBag.Title = "Laboratorio 3, Estructura de Datos I";
}
<body style="background-image: url(http://colonialsoccerclub.org/wp-content/uploads/2015/02/movie-pic.jpg)">
    <div class="jumbotron" style="background-image: url(https://www.moscovery.com/wp-content/uploads/2017/07/header-14.jpg)">
        <h1 style="color: black;">Laboratorio 3</h1>
        <p class="lead" style="color: black;">Renato José Cabrera Figueroa  1010617</p>
        <p class="lead" style="color: black;">José Carlos Herrera Franco 1007217 </p>
    </div>
    <div class="row">
        <div class="col-md-4" >
            <h2 style="color: black;">Insertar datos manuales</h2>
            <p style="color: black;">@Html.ActionLink("Insertar por numero", "Create", "Partido")</p>
            <p style="color: black;">@Html.ActionLink("Insertar por fecha", "Create", "Partido")</p>
            <h2 style="color: black;">Insertar datos Json</h2>
            <p style="color: black;">@Html.ActionLink("Insertar por Json", "Create", "CargaPartido")</p>
        </div>
        <div class="col-md-4">
            <h2 style="color: black;">Mostrar Recorridos En Orden</h2>
            <p style="color: black;">@Html.ActionLink("Numeros Partido", "IndexNumero", "Partido")</pstyle="color:>
            <p style="color: black;">@Html.ActionLink("Fecha Partido", "IndexFecha", "Partido")</p>
            <p style="color: black;">@Html.ActionLink("Numeros Partido Json", "IndexPartido", "CargaPartido")</p>
            <p style="color: black;">@Html.ActionLink("Fecha Partido Json", "IndexFecha", "CargaPartido")</p>
        </div>
    </div>
</body>